@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Endereço: </strong>Rua XYZ, São Caetano, Salvador - BA, 40390-000<br />
    <strong>Telefone:</strong> (71) 97777-8888
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:suporte@ybook.com.br">suporte@ybook.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@ybook.com.br">marketing@ybook.com.br</a><br />
</address>
