@{
    ViewData["Title"] = "Página Inicial";
}

<br />
<strong>Seja bem vindo!</strong>
<br />
<br />
<p>
    YBook é uma plataforma de exposição de livros atuais e antigos (raros). Nosso objetivo é possibilitar os nossos clientes/usuários a informarem seus livros disponíveis e contatos para pessoas interessadas. <br /> Fundada em 1992, em Salvador - BA, a YBook vem investindo em tecnologia de ponta para garantir o melhor para seus clientes. <br />
    Atualmente, nós marcamos território em todos os estados do Brasil.
</p>